[submodule "RoboFusionLib"]
	path = RoboFusionLib
	url = https://github.com/EuwHusky/RoboFusionLib
[submodule "Module/referee"]
	path = Module/referee
	url = https://github.com/EuwHusky/RoboMaster-Referee-On-MCU
[submodule "Module/remote_control"]
	path = Module/remote_control
	url = https://github.com/EuwHusky/RM2024-PIE-Remote-Control
